node_modules
.next
.git
.vscode
android
ios
capacitor.config.ts
public/*.apk
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Allow copying .env files for build-time Next.js static page generation
README.md
Dockerfile
docker-compose.yml
.dockerignore
